<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2022 <%= "–#{Time.now.year}" if Time.now.year >2022%> Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>